body{
  background-color: rgb(252, 221, 226);
}

.modal-header {
  margin: .5rem;
}

.question-div {
  margin: 1.5rem;

}

.submitBtn {
  margin: 1rem;
  padding: 14px 40px;
  border-radius: 8px;
  border-color: pink;
}